.letterImage {
  position: relative;
  width: 200px;
  height: 200px;
  cursor: pointer;
}

.animatedMail {
  position: absolute;
  height: 150px;
  width: 200px;
  transition: 0.4s;
}

.body {
  position: absolute;
  bottom: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 100px 200px;
  border-color: transparent transparent #A87676 transparent;
  z-index: 2;
}

.topFold {
  position: absolute;
  top: 50px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 50px 100px 0 100px;
  transform-origin: 50% 0%;
  transition: transform 0.4s 0.4s, z-index 0.2s 0.4s;
  border-color: #896C6C transparent transparent transparent;
  z-index: 2;
}

.backFold {
  position: absolute;
  bottom: 0;
  width: 200px;
  height: 100px;
  background: #896C6C;
  z-index: 0;
}

.leftFold {
  position: absolute;
  bottom: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 50px 0 50px 100px;
  border-color: transparent transparent transparent #735557;
  z-index: 2;
}

.letter {
  left: 20px;
  bottom: 0px;
  position: absolute;
  width: 160px;
  height: 60px;
  background: #f2f0ea;
  z-index: 1;
  overflow: hidden;
  transition: 0.4s 0.2s;
}

.letterBorder {
  height: 10px;
  width: 100%;
  background: repeating-linear-gradient(
    -45deg,
    #A87676,
    #A87676 8px,
    transparent 8px,
    transparent 18px
  );
}

.letterTitle {
  margin-top: 10px;
  margin-left: 5px;
  height: 10px;
  width: 40%;
  background: #735557;
}

.letterContext {
  margin-top: 10px;
  margin-left: 5px;
  height: 10px;
  width: 20%;
  background: #735557;
}

.letterStamp {
  margin-top: 30px;
  margin-left: 120px;
  border-radius: 100%;
  height: 30px;
  width: 30px;
  background: #A87676;
  opacity: 0.3;
}

.letterStampInner {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.shadow {
  position: absolute;
  top: 200px;
  left: 50%;
  width: 400px;
  height: 30px;
  transition: 0.4s;
  transform: translateX(-50%);
  border-radius: 100%;
  background: radial-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.0),
    rgba(0, 0, 0, 0.0)
  );
}

/* Hover interactions */
.letterImage:hover .animatedMail {
  transform: translateY(50px);
}

.letterImage:hover .animatedMail .topFold {
  transition: transform 0.4s, z-index 0.2s;
  transform: rotateX(180deg);
  z-index: 0;
}

.letterImage:hover .animatedMail .letter {
  height: 180px;
}

.letterImage:hover .shadow {
  width: 250px;
}
