:root {
  --count: 64;
}

.container {
  --size: min(20vw, 20vh);
  --width: calc(var(--size) / 40);
  --dist: calc(var(--width) * 9.8);
  --bg: url('https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/5eeea355389655.59822ff824b72.gif');
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--width);
  height: 100vh;
  width: 100%;
  
  overflow: hidden;
}

.tube {
  transform-style: preserve-3d;
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(var(--dist) * 2);
  height: var(--size);
  animation: speen 6s infinite linear;
}

.strip {
  position: absolute;
  width: var(--width);
  height: var(--size);
  background-color: white;
  background-image: var(--bg);
  background-size: calc(var(--width) * var(--count)) auto;
  background-repeat: no-repeat;
  backface-visibility: hidden;
  transform-style: preserve-3d;
}

@keyframes speen {
  0% {
    transform: perspective(400px) rotateY(0deg);
  }
  100% {
    transform: perspective(400px) rotateY(360deg);
  }
}
